a{
    text-decoration: none;
}
.container{
    width: 1280px;
    display: block;
    margin-left: auto;
    margin-right: auto;


}
h1>span{
    color: #4bcaff;
    text-decoration: none;
}
h1{
    color: black;
    font-size: 50px;
    margin-top: 40px;
    text-decoration: none;
}
.navigation>a{
    font-family:Helvetica;
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 23px 54px;

}
.navigation{
    background-color: #35444f;
    text-align: center;

}
.second-part-body{
    width: 100%;
    height: 1000px;

}
.nav-content{
    vertical-align: top;
    text-align: left;
    margin-top: 20px;
    width: 25%;
    display: inline-block;
    border: 1px solid #35444f;
    font-family: Arial, Helvetica, sans-serif;

}
.nav-content>a{
    text-decoration: none;
    color: #55636d;
    display: block;
    padding: 17px;
    transition: padding-left 2s;

}
.imgdiv{
    position: relative;
    border: 1px solid #35444f;
    height: 450px;


}
img{

    height: 300px;
    width: 252px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -126px;




}
.zoom{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -126px;
    overflow: hidden;
    height: 300px;
    width: 300px;

}
.content{
    width: 60%;
    float: right;
    display: inline-block;
    margin-top: 20px;
    height: 800px;

}
p{
    padding: 20px 20px 0px;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;

}

.navigation-end{
    background-color: #b4b7ba;
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    clear: both;

}
.copy{
    text-decoration: none;
    color: black;
    padding: 13px 13px 33px 13px;
    float: right;
}
ul {
    list-style-type: none;
    margin: 0;
padding-top: 0;
    overflow: hidden;
    display: inline-block;
}
li{
    float: left;
    padding:16px;
}
li a {

    color: #0c1927;
    text-align: center;

    text-decoration: none;
}
li a:hover{
    color: #3a85a7;
  border-bottom:1px solid #3a85a7;
    padding-bottom: 3px;
    /* text-underline-position: below;
    -ms-text-underline-position: below;
     -webkit-text-underline-position: under;*/





}
.navigation>a:hover{
    background-color: #222f3a;
    border-left: 1px solid #818181;
    border-right: 1px solid #818181;
    padding: 21px 53px;


}
.nav-content>a:hover{
    color: black;
    background-color: #dbdbdb;
    padding-left:50px;
}
.zoom img {
    transition: transform .5s ease;
}
.zoom img:hover{
    transform: scale(1.3,1.3);

}