.bottom{
    border-bottom-left-radius: 90px;
    border-bottom-right-radius: 90px;

}
.anime{
    display: inline-block;

    background-color: yellow;
}

.top,
.bottom {
    height: 45px;
    width: 90px;
}

/*
.top {
    border-top-left-radius:90px;
    border-top-right-radius: 90px;
}
*/


.bottom {
    border-bottom-left-radius:90px;
    border-bottom-right-radius:90px;
}