 	body{
 		margin: 0;
 		padding: 0;
 		background: url(img/login-bg.png) no-repeat;
 		background-size: cover;
 	}
 	.main-body{
        height: 90vh;
 		width: 100%;
 		display: flex;
 		justify-content: center;
 		align-items: center;
 	}
 	.navigation{
 	

 		margin: 0;
        height: 60px;
 		width: 100%;
 		display: flex;
 		background-color: rgba(0,0,0,0.5);
 		align-items: center;
 		justify-content: space-between;
 		text-align: center;

 	}
 	a{
 		text-decoration: none;
 		color: #3cb878 ;
 	}
 	h1{
 		font-size: 20pt;
 		margin: auto;
 		font-family: ﻿sans-serif;
 		
 	}
 	span{
 		color: white;
 		font-size: 17px;
 		border-left: 1px solid #33302e;
 		padding-left: 30px;

 	}
 	span>a{
 		margin-left: 5px;
 		margin-right: 5px;
 	}
span>a:hover{
 	border-bottom: 1px solid #3cb878;
	}
 	.right-side{

 		padding-right: 100px;
 		display: flex;
 		align-items: center;
 		justify-content: space-between;
 		
 	}
 	.left-side{

 			padding-left: 100px;
 		
 	}

 	.right-side>img{
margin-right: 30px;
 	}
 	.form{
 		display: flex;
 		justify-content: center;
 		align-items: flex-start;
 		position: relative;
 		width: 400px;
 		height: 500px;
 		background-color: white;
 		border-radius: 10px;
 		padding-bottom: 80px;
 	}
.tiny-div{
position: absolute;
background-color: #3cb878;
width: 15px;
height: 15px;
left: 0;
top: 30px;}
.inner-form{
	height: 390px;
	width: 300px;
	display: flex;
	flex-direction: column;
}


	.facebook{
		background-color: #305db8;
		width: 145px;
		height: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 3px;
	}
	.google{
		background-color: #df4a32;
		width: 145px;
		height: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 3px;
	}
	.social-sites{
		width: 300px;
		height: 40px;
		display: flex;
	    flex-direction: row;
	    justify-content: space-between;
	}
.google>a{
 		color: white;
 		font-size: 17px;
 		border-left: 1px solid #c8422d;
 		padding-left: 20px;
 		padding-right:15px;
}
.facebook>a{
 		color: white;
 		font-size: 17px;
 		border-left: 1px solid #2b54a5;
 		padding-left: 15px;
 		padding-right:15px;
}

.google>img{
 		padding-right:10px;
        padding-left:10px;
 	}
 	.facebook>img{
 		padding-right:15px;
 		padding-left:15px;

 	}
.sign-log{
	width: 300px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	height: 40px;
	margin-top: 23px;
	margin-bottom: 10px;
	
}
.sign-log>a:nth-child(1){
	font-size: 25px;
	color: black;
}
.sign-log>a:nth-child(2){
	font-size: 18px;

}
.sign-log>a:nth-child(2):hover{
	font-size: 18px;
	border-bottom: 1px solid #b1e3c9;
	padding-top: 1px;

}

.lines{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
	margin-top: 15px;
	margin-bottom: 25px;
}
.line{
	display: flex;
width: 120px;

height: 20px;
border-bottom: 1px solid #eaeaea;
	}
	.or{
font-size: 17px;
font-family: serif;
height: 15px;
color: gray;

	}
	input{
		padding-left: 20px;
		padding-top: 12px;
		padding-bottom: 12px;
		margin-bottom: 15px;
		border-radius: 5px;
		border:1px solid #eaeaea;
	}
	input[type=text]:focus {
  
  padding: 10px;
  box-shadow: 2px 5px 10px #888888;

   outline: none;
}
input[type=password]:focus {
  
  padding: 10px;
  box-shadow: 2px 5px 10px #888888;

   outline: none;
}
.terms{
	display: flex;
}
label>a:hover{
border-bottom: 1px solid #b1e3c9;
	padding-top: 1px;
}
input[type=checkbox]{
	margin-right: 10px;

}

button{
	padding-left: 20px;
		padding-top: 15px;
		padding-bottom: 15px;
		background-color: #329a65;
		border-radius: 5px;
	outline: none;
    border: none;
		color: white;
		font-size: 20px;
}
